{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}Sign up for {{ block.super }}{% endblock title %}
{% block content %}
<h1>Sign up for PTU12 Library</h1>
<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <p>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" value="{{ request.POST.first_name }}">
    </p>
    <p>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" value="{{ request.POST.last_name }}">
    </p>
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" required value="{{ request.POST.username }}">
        <br><small>Case sensitive, must be unique.</small>
    </p>
    <p>
        <label for="email">E-mail</label>
        <input type="email" name="email" required value="{{ request.POST.email }}">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" required>
    </p>
    <p>
        <label for="password_confirm">Confirm Password</label>
        <input type="password" name="password_confirm" required>
    </p>
    <p><button type="submit">Confirm Sign Up</button></p>
    <p>If you have already an account, you can <a href="{% url 'home' %}">login</a> instead.</p>
    {% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
</form>
{% endblock content %}
