{% extends 'base.html' %}
{% block title %}{{user.username}} conversions | {{ block.super }}{% endblock title %}
{% block content %}
<div class='title'>
    <h1 class='about'>My list</h1>
</div>
{% for conversion in conversions %}
<div class='edit'>
<p class='about'><a href="{% url 'conversion_delete' conversion.slug %}">Delete conversion </a></p>
<p class='about'><a href="{% url 'conversion_update' conversion.slug %}"> Update conversion</a></p>
</div>
<a class="conversion-list" href="{% url 'van_detail' conversion.slug %}">
    <h3 class="car-title">{{conversion.conversion_slug}}</h3>
    <div class="car-list">
        <div class="car-image">
            <img src="{{ conversion.side_picture.url }}" alt="{{ conversion.slug }}">
        </div>
        <div class="car-details">
            <p class="car-make">{{conversion.make}} {{conversion.model}}</p>
            <p class="car-year"><strong>Year:</strong> {{conversion.year}}</p>
            <p class="car-price"><strong>Veichle cost:</strong> {{conversion.veichle_cost}}</p>
            <p class="car-conv-budget"><strong>Conversion cost:</strong> {{conversion.conversion_cost}}</p>
        </div>
    </div>
</a>
<hr>
{% endfor %}
<div class='title'>
    <div class='edit'>
        <h1><p class='about'><a href="{% url 'conversion_create' %}?c_type=0">Add Van</a></p></h1>
        <h1><p class='about'><a href="{% url 'conversion_create' %}?c_type=1">Add RV</a></p></h1>
    </div>
</div>
{% endblock content %}

