{% extends 'base.html' %}
{% block title %}{{user.username}} conversions | {{ block.super }}{% endblock title %}
{% block content %}
{% for conversion in conversions %}
<p><a href="{% url 'van_detail' conversion.slug %}">{{conversion.conversion_slug}}</a><p>
<p>{{conversion.make}}</p>
<p>{{conversion.model}}</p>
<p>{{conversion.year}}</p>
<a href="{% url 'conversion_delete' conversion.slug %}">Delete conversion</a>
<a href="{% url 'conversion_update' conversion.slug %}">update conversion</a>
{% endfor %}
<a href="{% url 'conversion_create' %}?c_type=0">Add Van</a>
<a href="{% url 'conversion_create' %}?c_type=1">Add RV</a>
{% endblock content %}

