{% extends 'base.html' %}
{% block title %}Rvs | {{ block.super }}{% endblock title %}
{% block content %}
{% if count == 0 %}
<div class='title'>
    <p class='about'>There are no new pending verifications</p>
</div>
{% endif %}
{% for conversion in conversions %}
{% if conversion.verification_status == 0 %}
<a class="conversion-list" href="{% url 'verify_detail' conversion.slug %}">
    <h3 class="car-title">{{conversion.conversion_slug}}</h3>
    <div class="car-list">
        <div class="car-image">
            <img src="{{ conversion.side_picture.url }}" alt="{{ conversion.slug }}">
        </div>
        <div class="car-details">
            <p class="car-make">{{conversion.make}} {{conversion.model}}</p>
            <p class="car-year"><strong>Year:</strong> {{conversion.year}}</p>
            <p class="car-price"><strong>Veichle cost:</strong> {{conversion.veichle_cost}}</p>
            <p class="car-conv-budget"><strong>Conversion cost:</strong> {{conversion.conversion_cost}}</p>
        </div>
    </div>
</a>
{% endif %}
{% endfor %}
{% endblock content %}